<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/styles/style.css">
<title>{% block title %}Сайт Миры Странной{% endblock title %}</title>
</head>
<body>
  {%- block body %}
    {%- block header %}
      <div class="header shadowed">
        <h2 class="sitename">
          <span class="sitenamelight">
            <a title="На главную" href="/">
              Сайт
            </a>
          </span>
          <a title="Кто это?" href="/articles/about_me">
            Миры Странной
          </a>
        </h2>
      </div>
      {%- block headerlinks %}
        <div class="headerlinks">
          {% if authorized %}<a href="/deauth">Выйти</a>{% else %}<a href="/auth">Войти</a>{% endif %}
        </div>
      {%- endblock headerlinks %}
    {%- endblock header %}
    <div class="content">
      {%- block content %}
      {%- endblock content %}
    </div>
    <div class="footer shadowed">
      {%- block footer %}
        &copy; 2020 - 2022 Мира Странная.<br>
        <span class="license">Этот сайт доступен по лицензии GNU AGPLv3. </span>
        Исходный код доступен по <a href="https://github.com/mirai65536/website">этой ссылке</a>.
      {%- endblock footer %}
    </div>
  {%- endblock body %}
</body>
</html>
